<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Conversion Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>File Conversion Service</h1>
    </header>

    <div class="main-content">
        <form id="uploadForm" enctype="multipart/form-data">

             <div class="form-header">
            <h2>Convert files here</h2>
            </div>
            <input type="file" name="file" id="fileInput">
            <select name="conversionType" id="conversionType">
                <!-- Dropdown for selecting conversion type -->
            <option value="rtf">Convert to RTF</option>
            <option value="pdf">Convert to PDF</option>
            <option value="docx">Convert to DOCX</option>
            <option value="txt">Convert to Plain Text</option>
            <option value="xlsx">Convert to Excel</option>
            <option value="csv">Convert to CSV</option>
            <option value="jpg">Convert to Jpeg/Jpg</option>
            <option value="png">Convert to PNG</option>
            <option value="tiff">Convert to TIFF</option>
            <option value="gif">Convert to GIF</option>
            <option value="bmp">Convert to BMP</option>
            </select>
            <button type="submit">Convert File</button>
        </form>
        <button id="downloadBtn" style="display: none;">Download File</button>
    </div>
    <div id="loadingSymbol" class="loading-overlay" style="display: none;">
        <div class="loading-spinner"></div>
        <p class="loading-message">Processing file...</p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

